<html>
    <head>
        
        <title>TP2</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- JQuery -->
        <script src="{{url_for('static', filename='jquery/jquery-3.2.1.min.js')}}"></script>        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" />
        <!-- Bootstrap JS -->
        <script src="{{url_for('static', filename='bootstrap/js/popper.min.js')}}"></script>
        <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>

        <style type="text/css">

        	.page-header{
        		border-bottom: 1px solid;
        		margin-bottom: 2%;
        	}

        </style>

    </head>

    <body>

    	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">TP2</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Formulario <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://info.unlp.edu.ar/">Fac. Informática</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.ing.unlp.edu.ar/">Fac. Ingeniería</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Links de interés
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="https://ideas.info.unlp.edu.ar/">IdeasUNLP</a>
                            <a class="dropdown-item" href="#">Otro..</a>                            
                        </div>
                    </li>
                </ul>
            </div>            
        </nav>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h3 class="display-4">Taller de Proyecto II</h3>
                <p class="lead">Ejemplo de teoría de Python</p>
            </div>
        </div>

        <div class="container">
        	
        	<div class="page-header">
			    <h1>¡Bienvenido a TP2!</h1>      
			</div>        	

			<ul class="list-group">
			    <li class="list-group-item"><b>Nombre:</b> {{ nombre }} </li>
			    <li class="list-group-item"><b>Apellido:</b> {{ apellido }} </li>
			    <li class="list-group-item"><b>Email:</b>  {{ email }} </li>
			    <li class="list-group-item"><b>Sexo:</b>  {{ sexo }} </li>
			</ul>        	

        </div>        

    </body>
</html>